<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Document</title>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<%- include('partials/navigation')%>
		<div class="container">
<h1>Genres: </h1>
		<div class="genresContainer">
			<% genres.forEach((genre) => { %>
            <div class="genreItem">
                <a href=""><%=  genre.name %> </a>
                
                <form method="POST" action="/genres/delete/<%= genre.id %>">
                    <button type="submit">X</button>
                </form>
            </div>
	<% }) %>
		</div>
		

		<h1>Games:</h1>
		<div class="gameItem">
			<div class="gameInfoContainer">
				<div>Title</div>
				<div>Release Year</div>
				<div>Price</div>
				<div>Genre</div>
			</div>
		</div>
		<div>
			<% games.forEach((game) => { %>
			
				<div class="gameItem">
					<div class="gameInfoContainer">
						<div><%= game.title%> </div>
						<div><%= game.release_year%> </div>
						<div>$<%= game.price%></div>
						<div><%= game.genres.join(', ') %> </div>
					</div>
					<form action="/games/details/<%= game.id %>" method="GET">
						<button type="submit">Details</button>
					</form>
					<form action="/games/delete/<%= game.id %>" method="POST">
						<button type="submit">X</button>
					</form>


					

				</div>
				

			<% }) %>

		</div>
		</div>
		

		

		
	</body>
</html>
