<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Document</title>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<%- include('partials/navigation')%>

		<h1>Genres: </h1>
		<% genres.forEach((genre) => { %>
            <div>
                <a href=""><%=  genre.name %> </a>
                
                <form method="POST" action="/genres/delete/<%= genre.id %>">
                    <button type="submit">X</button>
                </form>
            </div>
	<% }) %>

		<h1>Games:</h1>
		<div>
			<% games.forEach((game) => { %>
			
				<div class="gameItem">
					<div>
						Title: <%= game.title%>  
						Release Year: <%= game.release_year%> 
						Price: <%= game.price%>
						Genre: <%= game.genres.join(', ') %> 
					</div>

					<form action="/games/delete/<%= game.id %>" method="POST">
						<button type="submit">X</button>
					</form>


					<form action="/games/details/<%= game.id %>" method="GET">
						<button type="submit">Details</button>
					</form>

				</div>
				

			<% }) %>

		</div>

		
	</body>
</html>
