<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Document</title>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<%- include('partials/navigation')%>
		<div class="container">
		
			<form class="genresFilter" action="/" method="GET">

				<label for="genres">Genres: </label>
                    <% genres.forEach((genre) => { %>
                        <div>
							<label for="<%= genre.id %>"><%= genre.name %></label>
                            <input onchange="this.form.submit()" type="checkbox" name="genres" value="<%= genre.name %>" id="<%= genre.id %>"
							 <%= genresFilter.includes(genre.name) ? 'checked' : '' %>>
							
                        </div>
						 <% }) %>
			</form>
		
		

		<h1>Games:</h1>
		<div class="gameItem">
			<div class="gameInfoContainer">
				<div><b>Title</b></div>
				<div><b>Release Year</b></div>
				<div><b>Price</b></div>
				<div><b>Genre</b></div>
			</div>
		</div>
		<div>
			<% games.forEach((game) => { %>
			
				<div class="gameItem">
					<div class="gameInfoContainer">
						<div><%= game.title%> </div>
						<div><%= game.release_year%> </div>
						<div>$<%= game.price%></div>
						<div><%= game.genres.join(', ') %> </div>
					</div>
					<form action="/games/details/<%= game.id %>" method="GET">
						<button type="submit">Details</button>
					</form>
					<form action="/games/delete/<%= game.id %>" method="POST">
						<button type="submit">X</button>
					</form>


					

				</div>
				

			<% }) %>

		</div>
		</div>
		

		

		
	</body>
</html>
